/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){


  /* Laptop */
  .__navab {
    margin-left: 98px;
	}

	.__mle {
    margin-left: 7.5%;
	}

	.__greattech {
    margin-top: 25px;
    width: 620px;
    height: 225px;
    font-size: 60px;
	}

	.__hire {
    width: 100%;
	}

	.__mtop {
    margin-top: 37px;
	}

	.__ourme {
    width: 100%;
    height: 165px;
    margin-left: 25px;
	}


	.__watwedo {
    margin-top: 25px;
    margin-left: 24px;
	}

	.__mle1 {
    margin-left: 7%;
	}

	.__web {
    font-size: 28px;
	}

	.__watever {
    width: 100%;
	}

	.__des {
    margin-left: 0px;
	}

	.__ourmem {
    width: 100%;
	}

	.__webmo {
    font-size: 27px;
	}

	.__webm {
    width: 100%;
    height: 100%;
	}


	.__spreahed {
    margin-left: 0%;
    margin-top: 2%;
	}

	.__pulse1 {
    position: absolute;
    bottom: 29.7%;
    margin-left: 12%;
	}

	.__pulse2 {
    position: absolute;
    bottom: 31.4%;
    margin-left: 43%;
	}

	.__pulse3 {
    position: absolute;
    bottom: 31.4%;
    margin-left: 53%;
	}

	.__pulse4 {
    position: absolute;
    bottom: 31.3%;
    margin-left: 75%;
	}

	.__pulse5 {
    position: absolute;
    bottom: 29%;
    margin-left: 43%;
	}

	.__pulse6 {
    position: absolute;
    bottom: 25%;
    margin-left: 43%;
	}

	.__pulse7 {
    position: absolute;
    bottom: 26.4%;
    margin-left: 56.3%;
	}

	.__extendlef {
    margin-bottom: 10px;
	}

	.__bottombgimg{
		min-height: 100% !important;
	}

	.__buttbgc {
    height: 100%;
	}

	.__abwe {
    width: 100%;
    height: 100%;
	}
	.__abwe1 {
    width: 100%;
    height: 100%;
	}

	.__wid {
    width: 669.3px !important;
    height: 100% !important;
	}

	.__wid img{
		width: 100%
	}

	.__wid1 {
    width: 353px !important;
    height: 210.6px !important;
	}

	.__wid1 img{
		width: 100%
	}

	.__wid2 {
    width: 352.9px !important;
    height: 192.2px !important;
	}
	.__wid2 img{
		width: 100%
	}

	.__wid3 {
    width: 491px !important;
    height: 474px !important;
    margin-top: -118px;
	}
	.__wid3 img{
		width: 100%
	}

	.__wid4 {
    width: 178px !important;
    height: 100% !important;
    margin-top: -118px;
	}

	.__wid4 img{
		width: 100%
	}

	.__wid5 {
    width: 530px !important;
    height: 356px !important;
	}	

	.__wid5 img{
		width: 100%
	}

	.__abotm {
    width: 100%;
	}

	.__aboceo {
    width: 100%;
    height: 100%;
	}



}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	.__headerbgc {
    height: 100% !important;
	}
	.__navab {
    margin-left: 0px;
	}
  
	.__nava {
    font-size: 11px;
	}

	.__navac {
    font-size: 11px;
    margin-right: 14px;
	}

	.__greattech {
    margin-top: 2px;
    width: 100%;
    height: 209px;
    font-size: 60px;
	}

	.__mtop {
    margin-top: 30px;
    margin-bottom: 10px;
	}

	.__watwedo {
    width: 360px;
    height: 100%;
    font-size: 40px;
    margin-top: 15px;
	}

	.__mle1 {
    margin-left: 0%;
	}

	.__web {
    width: 100%;
    height: 43px;
    font-size: 24px;
	}

	.__watever {
    width: 100%;
    height: 100%;
	}

	.__des {
    margin-left: 0px;
    margin-top: 55%;
	}

	.__ourmem {
    width: 100%;
    height: 100%;
	}

	.__webmo {
    width: 100%;
    height: 43px;
    font-size: 20px;
	}

	.__webm {
    width: 100%;
    height: 100%;
	}

	.__spreahed {
    margin-left: 8.3%;
    margin-top: 1%;
	}

	.__pulse1 {
    position: absolute;
    bottom: 29.8%;
    margin-left: 14%;
	}

	.__pulse2 {
    position: absolute;
    bottom: 31.6%;
    margin-left: 47%;
	}

	.__pulse3 {
    position: absolute;
    bottom: 31.4%;
    margin-left: 57%;
	}

	.__pulse4 {
    position: absolute;
    bottom: 31.5%;
    margin-left: 81%;
	}

	.__pulse5 {
    position: absolute;
    bottom: 29.1%;
    margin-left: 46%;
	}

	.__pulse6 {
    position: absolute;
    bottom: 24.9%;
    margin-left: 46.2%;
	}

	.__pulse7 {
    position: absolute;
    bottom: 26.5%;
    margin-left: 60.3%;
	}

	.__extendlef {
    margin-left: 0px;
    margin-bottom: 10px;
	}

	.__bottombgimg{
		min-height: 100% !important;
	}

	.__buttbgc {
    height: 100%;
	}

	.__abwe {
    width: 100%;
    height: 100%;
	}
	.__abwe1 {
    width: 100%;
    height: 100%;
	}

	.__wid {
    width: 545.3px !important;
    height: 100% !important;
	}

	.__wid img{
		width:100%;
	}

	.__wid1 {
    width: 222px !important;
    height: 100% !important;
	}

	.__wid2 {
    width: 221.9px !important;
    height: 202.2px !important;
	}

	.__wid3 {
    width: 367px !important;
    height: 371px !important;
    margin-top: -119px;
	}

	.__wid4 {
    width: 178px !important;
    height: 100% !important;
    margin-top: -119px;
	}

	.__wid5 {
    width: 399px !important;
    height: 252px !important;
	}

	.gallery_box {
    margin-top: 40px;
	}

	.__abuml {
    margin-left: -11px;
	}

	.__abost {
    margin-top: 10px;
	}

}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  	.__headerbgc {
    height: 100% !important;
	}

    .__greattech {
    margin-top: 4px;
    width: 100%;
    height: 115px;
    font-size: 30px;
	}

	.__navab {
    margin-left: 0px;
	}

	.__mle {
    margin-left: 0%;
	}


	.__findd {
    width: 100%;
	}

	.__hire {
    width: 100%;
    height: 42px;
    font-size: 10px;
	}

	.__become {
    width: 100%;
    height: 42px;
    font-size: 9px;
	}

	.__mtop {
    margin-top: 45px;
    margin-bottom: 10px;
	}

	.__watwedo {
    width: 100%;
    height: 100%;
    font-size: 40px;
    margin-left: 0px;
    margin-top: 5px;
	}

	.__ourme {
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-left: 0px;
	}

	.__no1 {
    width: 100%;
    height: 60px;
    font-family: Goku;
    font-size: 40px;
    line-height: 1.67;
    color: #0000ef;
    margin-left: -13px;
	}

	.__web {
    width: 100%;
    height: 43px;
    font-size: 20px;
	}

	.__watever {
    width: 100%;
    height: 100%;
    font-family: sofiapro-light;
    font-size: 14px;
	}


	.__front {
    font-size: 14px;
	}

	.__ourmem {
    width: 100%;
    height: 100%;
    font-size: 14px;
	}

	.__mang {
    width: 100%;
    height: 100%;
    font-size: 14px;
	}

	.__webmo {
    width: 100%;
    height: 43px;
    font-size: 18px;
    margin-left:-5px;
	}

	.__webm {
    width: 100%;
    height: 100%;
    font-size: 14px;
	}

	.__des1 {
    margin-left: -11px;
    margin-top: 6%;
	}


	.__mle1 {
    margin-left: 0%;
	}

	.__des {
    margin-left: -15px;
    margin-top: 0%;
	}

	.__desi {
    width: 100%;
    height: 100%;
    font-size: 20px;
	}

	.__mana {
    width: 100%;
    height: 100%;
    font-size: 20px;
	}

	.__posab {
    position: unset;
    margin-top: 5px;
    margin-left: 1px;
    }

    .__line {
    width: 1px;
    height: 239px;
	}


	.__spreahed {
    margin-left: 0%;
    margin-top: 15%;
	}

	.__sprea {
    width: 100%;
    height: 100%;
    font-size: 28px;
	}

	.__witp {
    width: 100%;
    height: 100%;
    font-family: SofiaPro-light;
    font-size: 14px;
	}

	.pulse {
    margin: 6px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    background: #fff;
    border: 1px solid rgb(255, 17, 119);
    /* cursor: pointer; */
    box-shadow: 0px 0px 0px 0px rgba(255, 17, 119, 0.4);
    animation: pulse 1.5s infinite;
	}

	.__pulse1 {
    position: absolute;
    bottom: 24.3%;
    margin-left: 12%;
	}

	.__pulse2 {
    position: absolute;
    bottom: 24.2%;
    margin-left: 43%;
	}

	.__pulse3 {
    position: absolute;
    bottom: 24.2%;
    margin-left: 54%;
	}

	.__pulse4 {
    position: absolute;
    bottom: 24.3%;
    margin-left: 77%;
	}

	.__pulse5 {
    position: absolute;
    bottom: 23.4%;
    margin-left: 43%;
	}

	.__pulse6 {
    position: absolute;
    bottom: 21.6%;
    margin-left: 43.3%;
	}

	.__pulse7 {
    position: absolute;
    bottom: 22.2%;
    margin-left: 56.3%;
	}

	.__bottombgimg{
		min-height: 100% !important;
	}

	.__extendlef {
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
	}

	.__extp {
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 10px;
	}

	.__extp1 {
    width: 100%;
    height: 100%;
    font-size: 14px;
    }

    .__extlet {
    width: 100%;
    height: 100%;
    font-size: 30px;
	}

	.__expbtn {
    width: 100%;
    height: 100%;
	}

	.__expbtn1 {
    width: 100%;
    height: 100%;
	}

	.__buttbgc {
    height: 100%;
	}

	.__extnot {
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin-top: 40px;
	}

	.__dowt {
    margin-top: 10%;
    text-align: center;
	}

	/*.__mincenter{
		text-align: center;
	}*/


	.__abost {
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 1px;
	}

	.__abwe {
    width: 100%;
    height: 100%;
    font-size: 14px;
	}

	.__abwe1 {
    width: 100%;
    height: 100%;
    font-size: 14px;
	}

	.__ourplatf {
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
    color: #0a0909;
    margin-left: 32px;
    margin-top: 20px;
	}

	.__disis {
    width: 100%;
    height: 100%;
    font-size: 14px;
    }

	.__findpr {
    width: 100%;
    height: 100%;
    font-size: 18px;
	}

	.__findpr1 {
    width: 100%;
    height: 100%;
    font-size: 14px;
	}

	.__sau {
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
	}

	.__sau1 {
    width: 100%;
    height: 100%;
    font-size: 14px;
	}

	.gallery_box {
    margin-top: 16px;
	}

	.__wid{
		height: 100% !important;
	}

	.__wid img{
		width: 100%
	}
	.__wid1{
		height: 100% !important;
		width: 100% !important;
	}

	.__wid1 img{
		width: 100%
	}

	.__wid2{
		height: 100% !important;
		width: 100% !important;
	}

	.__wid2 img{
		width: 100%
	}

	.__wid3{
		height: 100% !important;
		width: 100% !important;
	}

	.__wid3 img{
		width: 100%
	}

	.__wid4{
		height: 100% !important;
		width: 100% !important;
		margin-top: 0px; 
	}

	.__wid4 img{
		width: 100%
	}
	.__wid5{
		height: 100% !important;
		width: 100% !important;
	}

	.__wid5 img{
		width: 100%
	}

	.__abume {
    width: 100%;
    height: 100%;
    font-size: 25px;
	}
	

	.__abotm {
    width: 100%;
    font-size: 14px;
	}
	.__aboceo {
    width: 100%;
    height: 100%;
    font-size: 14px;
	}

	.__aboml {
    margin-left: 10px;
	}

	.__imghov {
     width: 100%;
    margin-top: 10px;
	}

	.__abuotm {
    width: 100%;;
	}


}


    


