/*=================================================================
	Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
}

body {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: '', Poppins-Regular;
	font-size: 14px;
	color: #222222;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 20px;
}


@font-face{
  font-family: 'Poppins-Regular';
  src: url('../../poppins/Poppins-Regular.ttf');
}
@font-face{
  font-family: 'Sofia Pro Regular';
  src: url('../../poppins/Sofia Pro Regular.ttf');
}
@font-face{
  font-family: 'Goku';
  src: url('../../poppins/Goku.ttf');
}
@font-face{
  font-family: 'sofiapro-light';
  src: url('../../poppins/sofiapro-light.otf');
}
@font-face{
  font-family: 'Poppins-Medium';
  src: url('../../poppins/Poppins-Medium.ttf');
}

@font-face{
  font-family: 'Poppins-SemiBold';
  src: url('../../poppins/Poppins-SemiBold.ttf');
}

@font-face{
  font-family: 'Poppins-SemiBoldItalic';
  src: url('../../poppins/Poppins-SemiBoldItalic.ttf');
}
.f1{
  font-family: "Poppins-Regular";
}
.f2{
  font-family: "Sofia Pro Regular";
}
.f3{
  font-family: "sofiapro-light";
}
.f4{
  font-family: "Cera GR Thin";
}
.f5{
  font-family: "Cera GR Black";
}
 
 .l-h2{line-height: 27px}
.l-h{line-height: 45px;}
.l-h3{line-height: 60px;}
.l-h1{line-height: 30px;}


a,
a:active,
a:hover,
a:focus,
a:visited{
	text-decoration:none;
	/*background:transparent;*/
	outline:none;
	color:inherit;
}

/*a:hover{
	color: #663fb5 !important;
}*/

button:focus{
	outline:none;
}

li{
	/*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
	display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}





a:focus, a:hover {
    	text-decoration:none !important;
	}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}
.box-s{
  /*box-shadow: 0px 5px 5px #888888;*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}








.clearfix{
  clear: all;
}




.dis-f {display:flex !important;}
    
.diss-none {display:none !important;}
    


.bs{box-shadow: 0 4px 10px rgba(0,0,0,0.43);}

.bs3{box-shadow: 0px 0px 10px #663FB5;}







/*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
/*end*/




.bg-head{
  /*background: linear-gradient(100deg, rgba(215, 221, 232, 0.6) 50%, rgba(215, 221, 232, 0.6) 50%),url(../img/capture.png);*/
  /*background-attachment: fixed;*/
  /*background-image: url(../img/capture2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    /*background-blend-mode: normal;*/
    /*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
}
.bg-head4{
  background-image: url(../img/capture4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-head41{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/landingpage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 634px;*/
}

.bg-head1{
  background-color: #FCFCFC !important;
   clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 100%);

}
.bg-headp{
  background-color: #F7F7F7 !important;
}
.bg-head2{
  background-color: #DDDDDD!important;
   clip-path: polygon(0 0, 1600px 20%, 1600px 100%, 0 100%);

}
	


::-webkit-scrollbar{
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track{
	border-radius: 50px;
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
	border-radius: 1px;
	background-color: #a7a7a7;
}


/*=================================================================
	Dashboard Css
==================================================================*/


/*adminsection*/
.leftbar{
	position: fixed;
	/*padding-top: 42px;*/
	padding-top: 16px;
	left: 0%;
	top: 0%;
	background-color: white;
	/*border-right: 1px solid #eff3f2;*/
	width: 17.8%;
	height: 100%;
	transition: all .6s ease;
	overflow-y: scroll;
	overflow-x: hidden;
}

.leftbar::-webkit-scrollbar {
    width: 0px;
}
.butt_section{
	padding: 35px;
}
.leftbar p {
    background-color: white;
    padding: 6px 30px;
    margin-bottom: 1%;
    text-align: left;
    color: black;
    cursor: pointer;
     border: 1px solid #f9f9f9 !important;
}
.dashboard_name {
    padding: 2px;
    margin-left: 16%;
    margin-bottom: 10%;
}
.leftbar i {
    float: left;
    padding: 4px;
}
.activedashboard{
	background-color: #f9f9f9 !important;
    color: #00aeef !important;
    border:1px solid #f9f9f9 !important;
    /*border-right: 2px solid #00aeef;*/
    /*width: 197px;*/
    width: 100%;
}
.subactivedashboard{
	/*background-color: #f9f9f9 !important;*/
	color: #663fb5 !important;
}

.subdashleft{
	border-left: 3px solid #c0bebe33;
}

.emplsubactivedashboard{
	background-color: #f9f9f9 !important;
	color: #663fb5 !important;
	padding: 5px !important;
}

#openSidebar{
	display: none;
}
.leftbar .me {
    margin-top: 21%;
    margin-bottom: 1%;
    height: 65px;
    margin-left: 12%;
    width: 65px;
}
.maianer {
    padding: 10px 55px;
}
.biger{
	width: 35% ;
	transform: translate(0px) !important;
	z-index:1  !important;
	
}
img#closebtn {
    position: absolute;
    top: 3%;
    color: indianred;
    font-size: 21px;
    display: none;
    cursor: pointer;
    right: 5%;
    width: 15px;
}
@media screen and (max-width: 992px) {
	
.leftbar{
	transform: translate(-300px);
}
#openSidebar{
	display: block !important;
	cursor: pointer !important;
}
img#closebtn {
   display: block;
}
}
@media screen and (max-width: 568px) {
	
.biger{
	width: 75% ;
	transform: translate(0px) !important;
	z-index:1  !important;
	
}

.leftbar{
	transform: translate(-1000px);
}
#openSidebar{
	display: block !important;
	cursor: pointer !important;
}
i#closebtn {
   display: block;
}

.maianer {
    padding: 10px 20px;
}
.mr-125 { right:125px !important; }

}

.leftbar p {
    background-color: white;
    padding: 11px 40px;
    margin-bottom: 10%;
    font-size: 13px;
    text-align: left;
    color: #4a4a4a;
    cursor: pointer;
    /*text-align: center;*/
    font-weight: 400;
}





/*=================================================================
	texting animation css
==================================================================*/

/*texting animation*/



.icon {
  display: inline-block;
  width: 20px;
  height: 15.7px;
  stroke-width: 1;
  stroke: #000000;
  fill: transparent;
}

.icon:hover #facebook{ 
  fill: #111;
}



/*svg:hover path { 
    fill: #fce57e;
}*/

/*svg:hover path {
  fill: black;
  transition: all ease 0.3s;
}*/

svg path {
  transition: all ease 0.3s;
}


/*.map {
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
  position: relative;
}

.map svg * {
  fill-opacity: 0;
  transition: fill-opacity 2s;
}*/


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




/*end testing animation*/

/*=================================================================
	Custom Css
==================================================================*/


  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    /*.col-sm-4 {
      text-align: center;
      margin: 25px 0;*/
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }



  /*slide from top to down*/
.tech{
	opacity: 0;
  animation: fadeIn 1.5s ease-in both;
}

  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



  



/*findworkanew css*/

.__flogo{
  width: 137.5px;
  margin-top: -10px;
}

/*.__headerbgc {
  height: 885.5px !important;
  background-color: #0000d6;
}*/

.__headerbgc {
   background:linear-gradient(100deg, rgba(1, 1, 2, 0.5) 50%, rgba(1, 1, 2, 0.5) 50%), url(../img/f3.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 885.5px;
}

.__abubgc {
  background:linear-gradient(100deg, rgba(1, 1, 2, 0.5) 50%, rgba(1, 1, 2, 0.5) 50%), url(../img/book1.png);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 638px;
}

.__probgc {
  background:linear-gradient(100deg, rgba(1, 1, 2, 0.5) 50%, rgba(1, 1, 2, 0.5) 50%), url(../img/pro_findworka.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 638px;
}

.__projectbgc {
  background:linear-gradient(100deg, rgba(1, 1, 2, 0.5) 50%, rgba(1, 1, 2, 0.5) 50%), url(../img/project_findworka.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 638px;
}

.__findbgc {
  background:linear-gradient(100deg, rgba(1, 1, 2, 0.5) 50%, rgba(1, 1, 2, 0.5) 50%), url(../img/image11.png);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 638px;
}
.__contactbgc {
  background:linear-gradient(100deg, rgba(255, 255, 255,0.9) 50%, rgba(255, 255, 255,0.9) 50%), url(../img/mapc.svg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 638px;
}

.__navbgc{
	background-color: transparent;
	padding-top: 20px;
}

.__nava{
	font-size: 14px;
  font-weight: 500;
  font-family: Poppins-Medium;
  line-height: 1.5;
  color: #dcd6d5;
}
.__navac{
	font-size: 14px;
  font-weight: 500;
  font-family: Poppins-Medium;
  line-height: 1.5;
  color: #dcd6d5;
  margin-right: 54px;
}

.__navsign{
	width: 104px;
  height: 41px;
  background-color: #ffffff;
  border: solid 2px #091cf7;
  line-height: 7.29;
  color: #091cf7;
  font-size: 14px;
   margin-top: 5px;
   transition: all 0.4s ease-in;
}

.__navsign:hover{
	background-color: transparent;
	border: solid 1px #ffffff;
	color: #ffffff;
}

.__navsignbg {
    width: 104px;
    height: 41px;
    background-color: transparent;
    border: solid 2px #ffffff;
    line-height: 7.29;
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    transition: all 0.4s ease-in;
}

.__navsignbg:hover{
	background-color: transparent;
	border: solid 1px #ffffff;
	color: #ffffff;
}

.__navsign1{
	padding: 9px 26px !important;
}

.__nav-item{
  /*color: #663fb5 !important;*/
  /*margin-top: 10px;*/
}
.__nav-item:after{
  content: '\00a0';
  display: block;
  height: 3px;
  width: 100%;
  position: relative;
  top: -2px;
  background: transparent;
  transition: top .3s ease-out;
  -webkit-transition: top .3s ease-out;
}
.__nav-item:hover:after{
  top: 5px;
  background: #dcd6d5;
}

.active:after {
  height: 6px !important;
  background: #dcd6d5 !important;
}

.__posfixed{
	position: fixed !important;
	top: 28%;
	font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #dcd6d5;
}

.__greattech{
	margin-top: 59px;
  width: 725px;
  height: 287px;
  font-size: 75px;
  font-weight: 600;
  font-family: Poppins-SemiBold;
  line-height: 1.21;
  color: #ffffff;
}

.__mle{
	margin-left: 11.4%;
}
.__mle1{
	margin-left: 11%;
}

.__navab{
	margin-left: 135px;
}

.__findd{
	width: 507px;
  height: 50px;
  font-size: 18px;
  line-height: 1.39;
  color: #dcd6d5;
  font-family:Sofia Pro Regular;
}

.__mtop{
	margin-top: 67px;
}

.__hire{
	width: 263px;
  height: 56px;
  background-color: #ffffff;
  border: solid 2px #091cf7;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins-Medium;
  line-height: 1.56;
  color: #585353;
  transition: all 0.4s ease-in;
}

.__hire:hover{
	background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
}

.__become{
	width: 263px;
  height: 56px;
  background-color: #616df7;
  border: solid 2px #091cf7;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins-Medium;
  line-height: 1.56;
  color: #ffffff;
  transition: all 0.4s ease-in;
}
.__become:hover{
	background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
}


.grid-container {
    position: absolute;
    left: 0px;
    right: -10px;
    top: 0;
    bottom: 0;
    /*bottom: -4000px;*/
    overflow: hidden;
}

.grid-container .grid-columns {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    white-space: nowrap;
}

.grid-container .grid-columns .column {
    height: 100%;
    display: inline-block;
    position: relative;
}

.grid-container .grid-columns .column::before {
    content: '';
    position: absolute;
    left: 0;
    /*left: 107px;*/
    top: 0;
    bottom: 0;
    width: 1px;
    /*background: rgba(255,255,255,0.1);*/
    background: rgba(212, 193, 193, 0.1);
}

/*html.will-change.parallax [data-parallax] {
    will-change: transform;
}*/

.grid-container .grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.grid-container .grid .dot {
    position: absolute;
    width: 1.5px;
    height: 1.5px;
    background: #dcd6d5;
    border-radius: 50%;
}



/*Horizontal Sliding for text showing*/
.slidingHorizontal{
  display: inline;
  text-indent: 0px;
  font-weight: bold;
}
.slidingHorizontal span{
  animation: leftToRight 7.5s linear infinite 0s;
  -ms-animation: leftToRight 7.5s linear infinite 0s;
  -webkit-animation: leftToRight 7.5s linear infinite 0s;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingHorizontal span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingHorizontal span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingHorizontal span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingHorizontal span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*leftToRight Animation*/
@-moz-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateX(-50px); }
  10% { opacity: 1; -moz-transform: translateX(0px); }
  25% { opacity: 1; -moz-transform: translateX(0px); }
  30% { opacity: 0; -moz-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateX(-50px); }
  10% { opacity: 1; -webkit-transform: translateX(0px); }
  25% { opacity: 1; -webkit-transform: translateX(0px); }
  30% { opacity: 0; -webkit-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateX(-50px); }
  10% { opacity: 1; -ms-transform: translateX(0px); }
  25% { opacity: 1; -ms-transform: translateX(0px); }
  30% { opacity: 0; -ms-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
/*Horizontal Sliding for text showing end*/


.__watwedo{
	width: 360px;
  height: 84px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.5;
  font-family: Poppins-SemiBold;
  color: #0a0909;
    margin-left: 32px;
    margin-top: 87px;
}

.__ourme{
	width: 481px;
  height: 165px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #707070;
  margin-left: 32px;
}
.__line{
	width: 1px;
  height: 310px;
  background-color: #0000ef;
    margin-top: 20px;
}

.__tikline{
	width: 7px;
  height: 99px;
  background-color: #0000ef;
}

.__no1{
	width: 55px;
  height: 60px;
  font-family: Goku;
  font-size: 60px;
  line-height: 1.67;
  color: #0000ef;
  margin-left: -13px;
}

.__web{
	width: 286px;
  height: 68px;
  font-size: 30px;
  font-weight: 600;
  line-height: 3.33;
  color: #1f1d1d;
  margin-left: -18px;
  font-family: Poppins-SemiBold;
}

.__desi {
    width: 286px;
    height: 77px;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.33;
    color: #1f1d1d;
    margin-left: 6px;
    font-family: Poppins-SemiBold;
}


/*.__mana{
    width: 286px;
    height: 43px;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.33;
    color: #1f1d1d;
    margin-left: 4px;
    font-family: Poppins-SemiBold;
}*/


.__mana {
    width: 354px;
    height: 74px;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.33;
    color: #1f1d1d;
    margin-left: -7px;
    font-family: Poppins-SemiBold;
}

.__watever{
	width: 384px;
  height: 150px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #585353;
    margin-top: 5px;
   margin-left: -6px;
}
.__front{
	height: 29px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #1f1d1d;
  margin-left: -6px;
  font-family: Poppins-Medium;
  margin-bottom: 0px;
}

.__des{
margin-left: 57px;
    margin-top: 55%;
}


/*.__no1{
	width: 55px;
  height: 60px;
  font-family: Goku;
  font-size: 60px;
  line-height: 1.67;
  color: #0000ef;
  margin-left: -13px;
}

.__web{
	width: 286px;
  height: 43px;
  font-size: 30px;
  font-weight: 600;
  line-height: 3.33;
  color: #1f1d1d;
  margin-left: 10px;
}*/

.__ourmem{
	width: 287px;
  height: 114px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #585353;
   /* margin-top: -33px;*/
   margin-left: -6px;
}

.__posab{
	position: absolute;
    margin-top: -11%;
    margin-left: 4px;
}

.__des1 {
    margin-left: -43px;
    margin-top: 27%;
}

.__mang{
	width: 379px;
    height: 113px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #585353;
    /*margin-top: -33px;*/
   margin-left: -6px;
}

.__webm{
	width: 515px;
    height: 108px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #585353;
    /*margin-top: -33px;*/
   margin-left: -6px;
}

.__webmo {
    width: 375px;
    height: 74px;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.33;
    color: #1f1d1d;
    margin-left: -20px;
    font-family: Poppins-SemiBold;
}

.__spreahed{
    margin-left: 18.3%;
    margin-top:15%;
}

.__sprea{
	width: 628px;
  height: 84px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.5;
  color: #0a0909;
  font-family: Poppins-SemiBold;
}

.__witp{
	width: 635px;
  height: 60px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #585353;
}


/*pulse animation*/

.pulse {
	margin: 6px;
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #fff;
	border: 4px solid rgb(255, 17, 119);
	/* cursor: pointer; */
	box-shadow: 0px 0px 0px 0px rgba(255, 17, 119, 0.4);
	animation: pulse 1.5s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 17, 119, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 17, 119, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 17, 119, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 3px rgba(255, 17, 119, 0.4);
    box-shadow: 0 0 0 3px rgba(255, 17, 119, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255, 17, 119, 0);
      box-shadow: 0 0 0 10px rgba(255, 17, 119, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 17, 119, 0);
      box-shadow: 0 0 0 0 rgba(255, 17, 119, 0);
  }
}
/*end*/

.__pulset{
	margin-top: -2px;
}

.__pulse1{
	position: absolute;
    bottom: 29.6%;
    margin-left: 12%;
}
.__pulse2{
	position: absolute;
    bottom: 30%;
    margin-left: 38.4%;
}
.__pulse3{
	position: absolute;
    bottom: 24.6%;
    margin-left: 39%;
}

.__pulse4{
	position: absolute;
    bottom: 33.7%;
    margin-left: 73%;
}

.__pulse5{
	position: absolute;
    bottom: 30.8%;
    margin-left: 45.4%;
}

.__pulse6{
	position: absolute;
    bottom: 24.8%;
    margin-left: 41.3%;
}

.__pulse7{
	position: absolute;
    bottom: 29.7%;
    margin-left: 44%;
}

.__findmap{
	margin-top: 10%;
}


/*slider*/


.team{
	margin-top: 60px;
}
 

.controls > a{    
	color: #868686; 
	font-size: 17px; 
	font-weight: 300;
	border: 1px solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 3%;
}

/*end*/

.__wkp{
	/*margin-left: 15%*/;
    margin-top: 42px;
}

.__wkimg{
	width: 24.4px;
}

.__bottombgimg{
	margin-top: 5%;
	background:linear-gradient(100deg, rgba(0, 0, 214, 0.5) 50%, rgba(6, 6, 154, 0.5) 50%), url(../img/extend.png);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 597px;
}

.__extendlef{
	margin-left: -33px;
	margin-top: 74px;
}

.__extp {
    width: 628px;
    height: 84px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 101px;
    font-family: Poppins-SemiBold;
}

.__extp1 {
    width: 551px;
  	height: 133px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #dcd6d5;
}

.__buttbgc{
	height: 744px;
  background-color: #0000d6;
}


.__extlet{
	width: 598px;
  height: 174px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins-SemiBold;
}

/*.__expbtn{
	width: 263px;
  height: 92px;
  background-color: #ffffff;
  border: solid 2px #091cf7;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  color: #585353;
}

.__expbtn:hover{
	background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
}*/

.__expbtn1 {
    width: 263px;
    height: 56px;
    background-color: #ffffff;
    border: solid 2px #091cf7;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #585353;
    font-family: Poppins-Medium;
    transition: all 0.4s ease-in;
}

.__expbtn1:hover{
	background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
}

.__probtn1 {
    width: 263px;
    height: 56px;
    padding-top: 14px;
    background-color: #ffffff;
    border: solid 2px #091cf7;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #585353;
    font-family: Poppins-Medium;
    transition: all 0.4s ease-in;
}

.__probtn1:hover{
	background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
}


.__extnot{
	width: 475px;
  height: 133px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #dcd6d5;
  margin-top: 40px;
}

.__extnotsp{
	color: #f46862;
}

.__dowimg{
	width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1.5px #4a4a4a;
  border-radius: 50%;
   padding: 13px;
}

.__dowimg img{
	width: 20px;
  height: 15.7px;
}

.__dowt{
	margin-top: 10%;
}

.__ourplatf {
    width: 430px;
    height: 84px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #0a0909;
    margin-left: 32px;
    margin-top: 87px;
    font-family: Poppins-SemiBold;
}

.__disis {
    width: 374px;
  height: 162px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #777777;
    margin-left: -6px;
}


.__abouim {
    margin-left: 74px;
    margin-top: 12%;
    overflow: hidden;
    width: 322px;
    height: 213px;
}

.__abouim:hover img {
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}


.__abimg{
	width: 322px; 
	height: 213px;
	border: solid 1px #707070; 
	opacity: 0.8;
	-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.__abimgd{ 
	/*background:rgba(73, 94, 198, 0.35);*/
	background:rgba(20, 20, 21, 0.55);
	position:absolute; 
	top: 47px;
    left: 88px;
    right: 24px;
	bottom:0; 
	color:#fff; 
}

.__abost{
	width: 282px;
  height: 84px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 52px;
  font-family: Poppins-SemiBold;
}

.__abwe{
	width: 797px;
  height: 215px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #ffffff;
  margin-top: 5%;
}

.__abwe1{
	width: 816px;
  height: 407px;
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.7;
  color: #ffffff;
  margin-top: 5%;
}

.__findpr{
    width: 326px;
    height: 43px;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.33;
    color: #1f1d1d;
    margin-left: 2px;
    font-family: Poppins-SemiBold;
}

.__findpr1{
	width: 407px;
    height: 129px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #777777;
    margin-left: -6px;
}

.__sau{
	    width: 286px;
    height: 43px;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.33;
    color: #1f1d1d;
    font-family: Poppins-SemiBold;
    /* margin-left: -8px; */
}

.__aca{
	    width: 350px;
    height: 43px;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.33;
    color: #1f1d1d;
    font-family: Poppins-SemiBold;
    /* margin-left: -8px; */
}

.__sau1{
	width: 407px;
    height: 133px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #707070;
    margin-left: -6px;
}

.__seemo{
	font-size: 20px;
	line-height: 1.35;
	color: #0a0909;
	margin-top: 5%;
}

.__seemo:hover{
	color: #091cf7;;
}

/*gallery css*/

.__gpr{
	padding-right: 0px;
}
.__gpl{
	padding-left: 0px;
}

.__wid{
	width: 861.3px !important;
  	height: 338px !important;
	max-width: 100% ; 
	display:inline-block; 
	/*float: left;*/ 
	text-align: center; 
	overflow: hidden;    
	position: relative;
}
.__wid1{
	width: 563px !important;
  	height: 279.6px !important;
	max-width: 100% ; 
	display:inline-block; 
	/*float: left; */
	text-align: center; 
	overflow: hidden;    
	position: relative;
}
.__wid2{
	width: 496.9px !important;
  	height: 298.2px !important;
	max-width: 100% ; 
	margin-top: -6px;
	display:inline-block; 
	/*float: left;*/ 
	text-align: center; 
	overflow: hidden;    
	position: relative;
}
.__wid3{
	width: 683px !important;
  	height: 163px !important;
  	margin-top: -6px;
	max-width: 100% ; 
	display:inline-block; 
	/*float: left;*/ 
	text-align: center; 
	overflow: hidden;    
	position: relative;
}
.__wid4{
	width: 331px !important;
    height: 136px !important;
  	margin-top: -6px;
	max-width: 100% ; 
	display:inline-block; 
	/*float: left;*/ 
	text-align: center; 
	overflow: hidden;    
	position: relative;
}
.__wid5{
	width: 675px !important;
  	height: 179px !important;
	max-width: 100% ; 
	margin-top: -6px;
	display:inline-block; 
	/*float: left;*/ 
	text-align: center; 
	overflow: hidden;    
	position: relative;
}

.gallery_box{ 
	padding:0;
	display: flow-root;
	margin-top: 174px;
}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{
	-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.box_data{ 
	background:rgba(0,0,0,0.17); 
}
.gallery_box .box_data{ 
	position:absolute; 
	top: 0; 
	left: 0; 
	right:0; 
	bottom:0; 
	color:#fff;
}
.gallery_box li:hover .box_data{ 
	background:rgba(20, 20, 21, 0.55)
}
/*end*/

.__abumt{
	margin-top: 5%;
}

.__abume{
	width: 690px;
  height: 84px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.5;
  color: #0a0909;
  font-family: Poppins-SemiBold;
}

.__abotm{
	width: 741px;
  /*height: 246px;*/
  font-family: Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #707070;
}

.__abuml{
	margin-left: 10px;
	margin-top: 5%;
}
.__abgla{
	margin-left: 10px;
	margin-top: 5%;
}

.__aboceo{
	width: 526px;
  height: 135px;
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.5;
  color: #0a0909;
  font-family: Poppins-SemiBoldItalic;
}




/* imgage with hover css */

.__aboml{
	margin-left: 47px;
	margin-top: 10%;
}

.__abuotm{
	width: 250px;
  height: 237.5px;
}
/*image zoom*/
.__imghov{
	position: relative;
	overflow: hidden;
    width: 250px;
    height: 237px;
    transition: all 0.4s ease-in;
}

.__imghov img{
	display: block;
	/*height: auto;*/
	/*-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;*/
	max-width: 100%;
	-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}


.__imghov:hover img{
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
/*end*/

.__imgtxthov {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1d1d;
  border: solid 1px #707070;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 237.5px;
  text-align: center;
  padding-top: 45%;
  transition: all 0.4s ease-in;
}

.__imghov:hover .__imgtxthov {
  visibility: visible;
  opacity: 0.50;
}

.__abfotbg{
	background-color: #0000ef;
	color: #ffffff;
	margin-top: 5%;
}

.__fotimg {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1.5px #ffffff;
    border-radius: 50%;
    padding: 13px;
}

.__fotimg img{
	width: 20px;
  height: 15.7px;
}






.__fids {
    width: 696px;
    height: 175px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 48px;
    font-family: Poppins-SemiBold;
}

.__fidy {
    width: 613px;
    height: 65px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.35;
    color: #ffffff;
    margin-top: 3%;
}

.__fidh {
    width: 693px;
    height: 175px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #0a0909;
    margin-left: 11.1%;
    margin-top: 87px;
    font-family: Poppins-SemiBold;
}

.__fidou {
    width: 641px;
    height: 176px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #585353;
    margin-left: 15px;
    margin-left: 11.1%;
}

.__fidfor{
	/*height: 44px;*/
	font-size: 20px;
	font-family: Poppins-Medium;
  font-weight: 500;
  color: #1f1d1d;
}



/*next form*/
#regForm {
  margin-left: 11.5%;
}

#regForm1 {
    margin-left: 16px;
    margin-top: 20%;
}

.__fomin {
  width: 354px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #0000ef;
  font-size: 17px;
  font-family: Poppins-Regular;
  /*border: 1px solid #aaaaaa;*/
}

.__foming {
    width: 354px;
}

.__fomsi {
  width: 354px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #0000ef;
  font-size: 17px;
  font-family: Poppins-Regular;
  /*border: 1px solid #aaaaaa;*/
}




.__fombtn {
  width: 176px;
  height: 50px;
  background-color: #0000ef;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  /*padding: 10px 20px;*/
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins-Medium;
  /*cursor: pointer;*/
  transition: all 0.4s ease-in;
}

.__fombtn:hover {
	background-color:transparent;
  color: #0000ef;
  border:1px solid #0000ef;
}



.__finwy{
	width: 502px;
    height: 84px;
    font-size: 60px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    line-height: 1.52;
    color: #0a0909;
}

.__finou {
    width: 481px;
    height: 130px;
    font-size: 20px;
    font-family:Sofia Pro Regular; 
    line-height: 1.65;
    color: #585353;
}

.__finun{
	width: 330px;
  height: 43px;
  font-size: 30px;
  font-weight: 600;
  font-family: Poppins-SemiBold;
  line-height: 1.50;
  color: #1f1d1d;
  margin-left: -10px;
}
.__finom {
    width: 359px;
    height: 203px;
    font-size: 20px;
    line-height: 1.65;
    color: #585353;
    margin-left: -70px;
    font-family: Sofia Pro Regular;
}

.__finimg{
	width: 45px;
}
.__finimgind {
    width: 45px;
}

.__finml{
	margin-left: -6px;
	margin-top: 10%;
}

.__finmt {
    /*margin-top: 0%;*/
    margin-left: 63px;
}

.__finwt {
    /* margin-top: 0%; */
    margin-left: 59px;
}

.__finfr1 {
    width: 348px;
    height: 43px;
    font-size: 30px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    line-height: 1.50;
    color: #1f1d1d;
}

.__finfr {
    width: 359px;
    height: 203px;
    font-size: 20px;
    line-height: 1.65;
    color: #585353;
    margin-left: -59px;
    font-family: Sofia Pro Regular;
}

.__finind {
    width: 330px;
    height: 43px;
    font-size: 30px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    line-height: 1.50;
    color: #1f1d1d;
     margin-left: -10px;
}

.__finind1 {
    width: 359px;
    height: 203px;
    font-size: 20px;
    line-height: 1.65;
    color: #585353;
    margin-left: -74px;
    font-family: Sofia Pro Regular;
}

.__finint{
    margin-left: -3px;
    margin-top: 4%;
}

.__findowbgc{
	height: 526px;
  background-color: #0000ef;
  margin-top: 10%;
}


.__finwe{
	width: 770px;
  height: 84px;
  font-family: Poppins-SemiBold;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.52;
  color: #ffffff;
}

.__finouw{
	width: 844px;
  height: 103px;
  font-family:Sofia Pro Regular;
  font-size: 20px;
  line-height: 1.65;
  color: #dcd6d5;
}

.__fintp{
	margin-top: 5%;
    margin-left: 0px;
}

.__pros {
    width: 726px;
    height: 175px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 70px;
    font-family: Poppins-SemiBold;
}

.__prowy {
    width: 502px;
    height: 84px;
    font-size: 60px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    line-height: 1.52;
    color: #ffffff;
    margin-top: 10%;
}

.__prou {
    width: 481px;
    height: 80px;
    font-size: 20px;
    font-family: Sofia Pro Regular;
    line-height: 1.65;
    color: #ffffff;
}

.__prorc {
    width: 330px;
    height: 43px;
    font-size: 30px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    line-height: 1.50;
    color: #ffffff;
    margin-left: -33px;
}

.__prom {
    width: 359px;
    /*height: 203px;*/
    font-size: 20px;
    line-height: 1.65;
    color: #ffffff;
    margin-left: -83px;
}

.__proc {
    width: 330px;
    /*height: 43px;*/
    font-size: 30px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    line-height: 1.50;
    color: #ffffff;
    margin-left: -6px;
}

.__proc1 {
    width: 359px;
    /*height: 203px;*/
    font-size: 20px;
    line-height: 1.65;
    color: #ffffff;
    margin-left: -58px;
}

.__prodowbgc {
    height: 836px;
    background-color: #0000ef;
    margin-top: 10%;
}

.__pron {
    width: 844px;
    height: 84px;
    font-family: Poppins-SemiBold;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.52;
    color: #0a0909;
}

.__prouw {
    width: 844px;
    height: 43px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #585353;
}


.__prouw1 {
    width: 844px;
    height: 20px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #585353;
}

.__prouw2 {
    width: 844px;
    height: 30px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #585353;
}

.__prosp{
  font-size: 20px;
  font-weight: 600;
  color: #0a0909;
  font-family: Poppins-SemiBold;
}

.__prosp:hover{
	color: #0000ef;
}

.__prol {
    width: 661px;
    height: 84px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #0a0909;
    margin-left: 11.1%;
    margin-top: 87px;
    font-family: Poppins-SemiBold;
}


.__cont {
    width: 619px;
    height: 84px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #0a0909;
    margin-top: 5px;
    font-family: Poppins-SemiBold;
}


.__contw {
    width: 641px;
    height: 100px;
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.35;
    color: #0a0909;
    margin-top: 0%;
}

.__contf {
    width: 779px;
    height: 84px;
    font-family: Poppins-SemiBold;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.52;
    color: #0a0909;
}

.__socion{
	width: 150.8px;
  height: 150.8px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1.5px #4a4a4a;
  border-radius: 50%;
  padding: 37px;
  text-align: center;
  transition: all 0.4s ease-in;
}

.__socion:hover{
	border: solid 1.5px #00ABE3;
}

.__pt{
    margin-left: 28%;
}

.__socion1{
	width: 150.8px;
  height: 150.8px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1.5px #4a4a4a;
  border-radius: 50%;
  padding: 37px;
  text-align: center;
  margin-left: -40px;
  transition: all 0.4s ease-in;
}

.__socion1:hover{
	border: solid 1.5px #4060A5;
}

.__socion2{
	width: 150.8px;
  height: 150.8px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1.5px #4a4a4a;
  border-radius: 50%;
  padding: 37px;
  text-align: center;
  margin-left: -82px;
  transition: all 0.4s ease-in;
}

.__socion2:hover{
	border: solid 1.5px #0094BC;
}

.__pl{
	margin-left: -17%;
}

.__socion3{
	width: 150.8px;
  height: 150.8px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1.5px #4a4a4a;
  border-radius: 50%;
  padding: 37px;
  text-align: center;
  margin-left: -130px;
  transition: all 0.4s ease-in;
}

.__socion3:hover{
	border: solid 1.5px #347235;
}

.__pm{
	margin-left: -45%;
}


.red-tooltip + .tooltip > .tooltip-inner {
	background-color: #FCFCFC;
 color: black; 
 padding-top: 10px;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#FCFCFC; }

/*findworka css clock*/
.__clok{
	width: 250px;
    height: 412px;
    background-color: #fafafae0;
    padding: 32px;
}


.findworka {
  padding: 24px;
  margin: 6px;
}
.findworka.clock {
  position: relative;
  border-radius: 100%;
  box-sizing: border-box;
  background-color: transparent;
}
.findworka.clock#fwka, .findworka.clock#fwka2, .findworka.clock#fwka1 {
  width: 170px;
  height: 170px;
}
.findworka.clock#fwka:before, .findworka.clock#fwka2:before, .findworka.clock#fwka1:before {
  border-width: 3px;
}
.findworka.clock#fwka .hand, .findworka.clock#fwka2 .hand, .findworka.clock#fwka1 .hand  {
  height: 3px;
  top: 83.5px;
  transform-origin: right 1.5px;
}
.findworka.clock#fwka .hand.seconds, .findworka.clock#fwka2 .hand.seconds, .findworka.clock#fwka1 .hand.seconds {
  display: block;
}
.findworka.clock:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
}
.findworka.clock .hand {
  height: 6px;
  position: absolute;
  top: 83.5px;
  background-color: #6a7bd1;
  border-radius: 100% 0% 0% 100%;
  transform-origin: right 3px;
  transition: all 0.05s cubic-bezier(0, 0, 0.52, 2.51) 0s;
}
.findworka.clock .hand.seconds {
  width: 28%;
  left: 22%;
  opacity: 0.25;
}
.findworka.clock .hand.minutes {
  width: 30%;
  left: 19%;
  opacity: 0.5;
}
.findworka.clock .hand.hours {
  width: 20%;
  left: 30%;
  opacity: 0.75;
}
.findworka.clock .hand-cap {
  width: 5%;
  height: 5%;
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  border: 1px solid #6a7bd1;
  background: #6a7bd1;
  border-radius: 100%;
}
/*.findworka label {
  display: block;
  width: 100%;
  position: absolute;
  top: -24px;
  left: 0;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  color: #FFF;
  opacity: 0.5;
}*/



.__dot{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 10%;
    margin-left: 30%;
}
.__dot1{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 13%;
    margin-left: 44%;
}
.__dot2{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 20%;
    margin-left: 53%;
}
.__dot3{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 29%;
    margin-left: 56%;
}
.__dot4{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 38%;
    margin-left: 53%;
}
.__dot5{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 45%;
    margin-left: 44%;
}
.__dot6{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 45%;
    margin-left: 16%;
}
.__dot7{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 47.5%;
    margin-left: 31%;
}
.__dot8{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 38%;
    margin-left: 6.5%;
}
.__dot9{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 20%;
    margin-left: 6.5%;
}
.__dot10{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 13%;
    margin-left: 15.5%;
}
.__dot11{
	position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #6a7bd1;
    background: #6a7bd1;
    border-radius: 50%;
    top: 29%;
    margin-left: 3.5%;
}

.__contops{
	margin-top: 134px;
}

/*end*/

/*map animation*/
.map{
	padding-top: 5%;
}

.__mapd {
    background: rgba(206, 206, 206, 0.35);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
}


.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

/*for the map to stay after the animation comment this out*/
/*.path {
stroke-dasharray: 1000;
animation: dash 5s linear;
animation-fill-mode: forwards;
}*/

/*end*/

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*end*/

.__post{
	position: absolute;
    top: 0%;
    margin-left: 6.9%;
}

.__conttp {
    margin-top: 6%;
    margin-left: 0px;
}

.__conlp{
	margin-top: 10%;
}


.__cnava {
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins-Medium;
    line-height: 1.5;
    color: #585353;
}

.__cnavac {
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins-Medium;
    line-height: 1.5;
    color: #585353;
    margin-right: 54px;
}



.__cnavsignbg {
    width: 104px;
    height: 41px;
    background-color: transparent;
    border: solid 2px #585353;
    line-height: 7.29;
    color: #585353;
    font-size: 14px;
    margin-top: 5px;
    transition: all 0.4s ease-in;
}

.__cnavsignbg:hover{
	background-color: transparent;
    border: solid 1px #585353;
    color: #585353;
}


.__sig{
	font-size: 60px;
  font-weight: 600;
  line-height: 1.52;
  color: #1f1d1d;
}

.__pasr{
	margin-left: 45%;
}

.__sigbtn{
	width: 356px;
  height: 50px;
  background-color: #0000ef;
  color: #ffffff;
  transition: all 0.4s ease-in;
}

.__sigbtn:hover{
  background-color: transparent;
  color: #0000ef;
  border:1px solid #0000ef;
}

.__clml{
	margin-left: -3px;
	margin-top: 4.2%;
}

.__forgp {
    font-size: 37px;
    font-weight: 600;
    line-height: 1.52;
    color: #1f1d1d;
}


.__fomtalsel {
    width: 162px;
    height: 50px;
    background-color: #ffffff;
    border: solid 1px #0000ef;
    font-size: 17px;
    font-family: Poppins-Regular;
    /* border: 1px solid #aaaaaa; */
}




/*for upload images*/
/*input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 1px solid #00aeef;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #00aeef;
  border: 1px solid #00aeef;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}*/
/*end*/


/*custom upload*/
.form-style-fake5{
  position:absolute;
  margin-top:27px;
  margin-left: -102px;
}
.form-style-base5{
 /* position:absolute;*/
  top:0px;
  z-index: 999;
  opacity: 0;}
/*.imgCircle{border-radius: 50%;}*/
.form-control5{
  padding: 5px 13px;
}
.form-input5 {
  width: 354px;
    height: 50px;
  border-radius: 4px;
  /* margin-top: 20px; */
  cursor: pointer;
  /*top: 36%;*/
  border: solid 1px #0000ef;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  color: #9b9b9b;
}

.input-place5{
  left: 95%;
  top: 1px;
  color: #9b9b9b;
}


.__fileup{
	position: relative;
}

.form-style-fake4{
  position:absolute;
  margin-top:27px;
  margin-left: -102px;
}
.form-style-base4{
 /* position:absolute;*/
  top:0px;
  z-index: 999;
  opacity: 0;}
/*.imgCircle{border-radius: 50%;}*/
.form-control4{
  padding: 5px 13px;
}
.form-input4 {
  width: 354px;
    height: 50px;
  border-radius: 4px;
   /*margin-top: 0px; */
  cursor: pointer;
  /*top: 26%;*/
  border: solid 1px #0000ef;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  color: #9b9b9b;
}

.input-place4{
  left: 95%;
  top: -2px;
  color: #9b9b9b;
}


.__fidffl {
    width: 696px;
    /* height: 175px; */
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 70px;
    font-family: Poppins-SemiBold;
}


.__fidffl1 {
    width: 613px;
    /*height: 65px;*/
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.35;
    color: #ffffff;
    /* margin-top: 5%; */
}


.__fidff {
    /* width: 661px; */
    height: 90px;
    font-size: 59px;
    font-weight: 600;
    line-height: 1.5;
    color: #0a0909;
    margin-left: 11.1%;
    margin-top: 87px;
    font-family: Poppins-SemiBold;
}

.__fidff1 {
    /* width: 641px; */
    /*height: 176px;*/
    font-family: Sofia Pro Regular;
    font-size: 20px;
    line-height: 1.65;
    color: #585353;
    margin-left: 11.1%;
}

.__fidffc {
    width: 661px;
    /* height: 175px; */
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: #0a0909;
    margin-left: 15px;
    margin-top: 87px;
    font-family: Poppins-SemiBold;
    margin-left: 11.1%;
}

.__expbtn1t {
    width: 263px;
    padding-top: 14px;
    height: 56px;
    background-color: #ffffff;
    border: solid 2px #091cf7;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #585353;
    font-family: Poppins-Medium;
    transition: all 0.4s ease-in;
}

.__expbtn1t:hover{
	background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
}


/*faq*/
.accordion{
	width:100%; 
	margin: 0 auto;
}
.accordion-toggle {
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
	margin: 0;
	padding: 10px 0;
	position: relative;
}
.accordion-toggle.active:after{
	content:"";
	position:absolute;
	right:0;top:17px;
	width:0;height:0;
	border-bottom:5px solid #f00;
	border-left:5px solid #fff;
	border-right:5px solid #fff;
}
.accordion-toggle:before{
	content:"";
	position:absolute;
	right:0;
	top:17px;
	width:0;
	height:0;
	border-top:5px solid #000;
	border-left:5px solid #fff;
	border-right:5px solid #fff;
}
.accordion-toggle.active:before{
	display:none;
}
.accordion-content {
	display: none;
}
.accordion-toggle.active {
	color: #ff0000;
}
/*faq end*/





